@media only screen and (min-width:700px){
    .container{
        width: 70vw;
    }
}

*{
    margin: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
}


.back {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    opacity: 0.60;
    z-index: -100;
}

.container{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1{
    margin: 10px;
    color: white;
    text-align: center;
}

h5{
    margin: 10px;
    color: white;
    text-align: center;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

input{
    height: 40px;
    width: 300px;
    margin-bottom: 5px;
}

button{
    height: 60px;
    width: 310px;
    background-color: rgb(214, 115, 22);
    color: white;
}